@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ubuntu:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}

html {
    background: url(images/coding_notebook_desk.jpg) no-repeat center center fixed;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

.sidebar{
    background-color: rgb(182, 191, 188);
    /* width: 250px; */
    height: 100vh;
    font-family: 'Bree Serif', serif;
    transition: transform 0.5s ease-in;
    position: absolute;
}
.sidebar nav{
    padding: 24px;
    margin-top: 35px;
}
.sidebar nav li{
    font-size: 20px;
    list-style: none;
    padding: 28px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.sidebar nav li a{
    transition: all 0.3s linear;
}
.sidebar nav li a:hover{
    color: blanchedalmond;
    background-color: black;
}

.main{
    /* background-color: blanchedalmond; */
    width: 90vw;
    font-family: 'Ubuntu', sans-serif;
    padding: 13px;
    margin: 36px 10px;
}
.container{
    display: flex;
}
.info{
    /* background-color: rgb(233, 139, 105); */
    height: 45vh;
    width: 80vw;
    margin: 134px auto;
    height: 55vh;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.devpic img{
    height: 55vh;
}
.hello{
    font-size: 75px;
}
.name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
.about{
    font-size: 26px;
    margin-top: 10px;
}
.more{
    font-size: 20px;
    margin-top: 20px;
}
.buttons{
    margin-top: 20px;
}
.btn{
    padding: 4px 6px;
    border-radius: 14px;
    color: white;
    background-color: #1f1f9f;
    margin: 2px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    color: #1e1e94;
    background-color: white;
}

.contactform {
    font-family: 'Work Sans', sans-serif;
    padding: 0 50px;
    padding-top: 144px;
    
}
.contactform h1{
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    /* text-align: center; */
    padding: 5px 0;
}

.contactform form div{
    padding: 6px 0;
    display: flex;
    flex-direction: column;
}

#emailHelp{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: midnightblue;
    margin: 0 3px;
}
.contactform form div input {
    width: 15rem;
    border-radius: 5px;
    font-size: 15px;
    margin: 2px 0px;
    padding: 3px; 
}
#form-check{
    flex-direction: row;
}
#form-check input{
   width: 24px;
   margin: 3px 0;
}
.intro h2{
    margin: 10px 10px;
}
.intro p{
    margin: 0 10px;
}
.skill{
    width: 200px;
    height: 9px;
    background-color: rgb(206, 18, 18);
    border: 2px solid black;
    margin: 6px;
}
.skillitem{
    display: flex;
    align-items: center;
    font-weight: 900;
}
.skillcontainer{
    padding: 8px;
}
.s90{
    width: 250px;
    background-color: rgb(225, 38, 38);
}
.s60{
    width: 180px;
    background-color: rgb(255, 115, 0);
}
.s50{
    width: 155px;
    background-color: rgb(238, 255, 0);
}
.s40{
    width: 120px;
    background-color: rgb(241, 153, 54);
}
.s35{
    width: 100px;
    background-color: rgb(62, 173, 18);
}
@media (max-width: 600px) {
 /* .sidebar{
    transform: translate(-400px,0);
    position: absolute;
 } */
 .devpic{
    display: none;
 }
}
.sidebargo{
    transform: translate(-400px,0);
    position: absolute;
}
.hamburger{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    /* width: 34px; */
    /* height: 32px; */
}
.cross{
    /* margin-left: 150px ; */
    width: 26px;
    margin-left: 130px;
}
/* Contact */
.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    height: 100px;
    width: 100px;
    background-color: rgb(241, 238, 234);
    border-radius: 50px;
    text-align: center;
    line-height: 115px;
    margin: 10px;
    box-shadow: 1px 4px 2px 2px rgb(164, 161, 156);
}

a i {
    font-size: 30px;
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1.35);
}

.fa-facebook-f {
    color: rgb(12, 38, 94);
}

.fa-linkedin-in {
    color: rgb(16, 101, 146);
}

.fa-github {
    color: rgb(43, 42, 42);
}

.fa-twitter {
    color: rgb(46, 156, 240);
}

.fa-instagram {
    color: rgb(195, 42, 163);
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
